* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Patrick Hand", cursive;
  color: #f9f9f9;
  text-decoration: none;
}

.home {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .vocales-box, .home .consonates-box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  background-color: #2EADF4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f9f9f9;
  font-size: 2rem;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.home .vocales-box:hover, .home .consonates-box:hover {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  font-size: 3rem;
}

.home .vocales-box h1, .home .consonates-box h1 {
  cursor: pointer;
}

.home .consonates-box {
  background-color: #2bdd52;
}

.content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.content .title {
  width: 100%;
  padding: 20px;
  background-color: #2EADF4;
  text-align: center;
  font-size: 2rem;
}

.content .words-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .words-options .word-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  margin-top: 5rem;
  padding: 30px 0;
  font-size: 2rem;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.content .words-options .word-item:nth-child(1) {
  background-color: #FFD600;
}

.content .words-options .word-item:nth-child(1):hover {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.content .words-options .word-item:nth-child(2) {
  background-color: #2bdd52;
}

.content .words-options .word-item:nth-child(2):hover {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.content .words-options .word-item:nth-child(3) {
  background-color: #2EADF4;
}

.content .words-options .word-item:nth-child(3):hover {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.content .words-options .word-item:nth-child(4) {
  background-color: #CD2EF4;
}

.content .words-options .word-item:nth-child(4):hover {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.content .words-options .word-item:nth-child(5) {
  background-color: #F42E2E;
}

.content .words-options .word-item:nth-child(5):hover {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.content .words-options .word-item .word-btn {
  padding: 10px 50px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 3rem;
}

.content .back {
  position: absolute;
  top: 10px;
  right: 10px;
}

.content .examples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  widows: 70%;
  margin: 0 auto;
  margin-top: 3rem;
}

.content .examples .exp-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  opacity: 0.7;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.content .examples .exp-item:nth-child(1):hover {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.content .examples .exp-item:nth-child(2):hover {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.content .examples .exp-item:nth-child(3):hover {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.content .examples .exp-item .exp-btn {
  padding: 10px 50px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 2rem;
}

.consonantes {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.consonantes .title {
  width: 100%;
  padding: 20px;
  background-color: #2bdd52;
  text-align: center;
  font-size: 2rem;
}

.consonantes .words-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.consonantes .words-options .word-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  margin-top: 5rem;
  padding: 30px 0;
  font-size: 2rem;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.consonantes .words-options .word-item:nth-child(1) {
  background-color: #FFD600;
}

.consonantes .words-options .word-item:nth-child(1):hover {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.consonantes .words-options .word-item:nth-child(2) {
  background-color: #2bdd52;
}

.consonantes .words-options .word-item:nth-child(2):hover {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.consonantes .words-options .word-item:nth-child(3) {
  background-color: #2EADF4;
}

.consonantes .words-options .word-item:nth-child(3):hover {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.consonantes .words-options .word-item:nth-child(4) {
  background-color: #CD2EF4;
}

.consonantes .words-options .word-item:nth-child(4):hover {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.consonantes .words-options .word-item:nth-child(5) {
  background-color: #F42E2E;
}

.consonantes .words-options .word-item:nth-child(5):hover {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.consonantes .words-options .word-item .word-btn {
  padding: 10px 50px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 3rem;
}

.consonantes .back {
  position: absolute;
  top: 10px;
  right: 10px;
}
/*# sourceMappingURL=styles.css.map */