.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    .title {
        width: 100%;
        padding: 20px;
        background-color: $blue;
        text-align: center;
        font-size: 2rem;
    }
    .words-options {
        display: flex;
        justify-content: center;
        align-items: center;
        .word-item {
            flex: 1;
            text-align: center;
            margin-top: 5rem;
            padding: 30px 0;
            font-size: 2rem;
            transition: all 0.7s ease;
            &:nth-child(1) {
                background-color: $yellow;
                &:hover {
                    flex: 2;
                }
            }
            &:nth-child(2) {
                background-color: $green;
                &:hover {
                    flex: 2;
                }
            }
            &:nth-child(3) {
                background-color: $blue;
                &:hover {
                    flex: 2;
                }
            }
            &:nth-child(4) {
                background-color: $violet;
                &:hover {
                    flex: 2;
                }
            }
            &:nth-child(5) {
                background-color: $red;
                &:hover {
                    flex: 2;
                }
            }
            .word-btn {
                padding: 10px 50px;
                border: none;
                background: none;
                cursor: pointer;
                font-size: 3rem;
            }
        }
    }
    .back {
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .examples {
        display: flex;
        widows: 70%;
        margin: 0 auto;
        margin-top: 3rem;
        .exp-item {
            flex: 1;
            opacity: 0.7;
            transition: all 0.3s ease;
            &:nth-child(1) {
                &:hover {
                    opacity: 1;
                    transform: scale(1.1);
                }
            }
            &:nth-child(2) {
                &:hover {
                    opacity: 1;
                    transform: scale(1.1);
                }
            }
            &:nth-child(3) {
                &:hover {
                    opacity: 1;
                    transform: scale(1.1);
                }
            }
            .exp-btn {
                padding: 10px 50px;
                border: none;
                background: none;
                cursor: pointer;
                font-size: 2rem;
            }
        }
    }
}